#myDiv{
    width:300px;
    border: 2px solid powderblue;
    text-align:center;
    color:grey;
    border-radius: 15px;
    margin-left:20px;
    background-image: linear-gradient(360deg,powderblue,coral,powderblue);
    
}
#main{
    display:inline-flex;
    
}